{% extends "base.html" %}

{% block content %}
<h4>About <span style="color:#6BBA70">COPE</span>VID-19</h4>
<p><strong><span style="color:#6BBA70">COPE</span>VID-19</strong> is our effort to help people struggling due to the COVID-19 pandemic. We aim to help people <span style="color:#6BBA70"><strong>cope</strong></span> and overcome with tools and technology.</p>
<p>
    The COPEVID-19 supply tracker is our first tool that helps track inventory of essential supplies from personal care to food at nearby stores. Since inventory is hardly accurate on store websites (if they have them for local stores), the application uses the power of crowd sourcing to get this information. When a neighbor goes out to get supplies, they can easily mark the status of essential items (stocked, limited, or out of stock). Other neighbors can see the status of an item at a store and when it was last updated. They can search for an item to see where it might be in stock near them or search for a store to see the status of different items they may be looking for.
</p>
<h4>Who are we?</h4>
<p>We are your friendly neighborhood IT workers who wanted to do what we can to help during this challenging time.</p>
<h4>Contact</h4>
<p>We would love your feedback! Email ojaved20@gmail.com for any inqueries.</p>
{% endblock %}