{% extends "base.html" %}

{% block content %}
<h4>About <span style="color:#6BBA70">COPE</span>VID-19</h4>
<p><strong><span style="color:#6BBA70">COPE</span>VID-19</strong> is our effort to help people struggling due to the COVID-19 pandemic. We aim to help people <span style="color:#6BBA70"><strong>cope</strong></span> and overcome with tools and technology.</p>
<p>
    The COPEVID-19 supply tracker is our first tool that helps track inventory of essential supplies from personal care to food at nearby stores. The application uses the power of crowd sourcing to find out what is actually on the shelf. When a neighbor goes out to get supplies, they can easily mark the status of essential items at that store. Other neighbors can see the status of items at stores near them.
</p>
<h4>Who are we?</h4>
<p>We are your friendly, neighborhood IT workers who wanted to do what we can to help during this challenging time.</p>
<h4>Contact</h4>
<p>We would love your feedback! Email copevid19@gmail.com for any inquiries.</p>
{% endblock %}