{% extends "base.html" %}

{% block content %}
<h1 class="text-center pb-3">About <span style="color:#6BBA70">COPE</span>VID-19</h1>
<p class="lead"><strong><span style="color:#6BBA70">COPE</span>VID-19</strong> is an effort to help people struggling
    due to the COVID-19 pandemic using tools and technology.</p>
<h5 class="pt-3">The Supply Tracker</h5>
<p>
    The COPEVID-19 supply tracker is our first application. It was built to help our communities find essential items
    during shortages from supply chain disruptions and panic buying.
    Ordering from online retailers or relying on store websites for an accurate account of the inventory has become less
    reliable during the periods of unpredictable buying and high demand.
    The supply tracker aims to inform the community about what is actually on the shelf of their local stores through
    the power of crowd sourcing and collaboration.
    Neighbors shopping for items at local stores can use the app to easily mark which essential items are in stock,
    limited stock, or out of stock.
    The application then presents a catalog of items and stores with the latest inventory status as confirmed by the
    community.
    The catalog is updated in real time and can be used to see which locations have a particular item in stock or what
    is the status of different essential items at a particular store.
    The application also tracks the history of updates for an item at a store in order to detect a pattern for when an
    item is most likely to be in stock.

</p>
<h5 class="pt-3">Who We Are</h5>
<p>We are your friendly, neighborhood IT workers who wanted to do what we can to help during this challenging time.
    All the work we do for COPEVID-19 tools is during our free time to help the community. For anyone interested in
    collaborating, get in touch.
</p>
<h5 class="pt-3">Inquiries</h5>
<p>Please email copevid19@gmail.com for any inquiries or feedback.</p>
{% endblock %}