{% extends "base.html" %}

{% block content %}
<div class="clearfix">
    <h4>{{ curritem | title }}<span class="small"><a href="javascript:history.back()" class="btn btn-primary float-right">Back</a></span></h4>
    <p>Within {{ radius }} miles of {{ zip }}</p>
    <hr>
</div>
{% if not results %}
<p>Nothing Yet :( </p>
<p>We rely on users to populate our database. Help your neighbors by adding an update
    for item the next time you go out to a store.</p>
{% else %}
<ul class="list-group list-group-flush mt-5">
    {% for result in results %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-6">
                {% if result.quantity=='limited' %}
                {% set qty = 'Limited Stock' %}
                <span style="color:tomato"><i class="fas fa-exclamation-circle fa-2x"></i></span>
                {% elif result.quantity=='stocked' %}
                {% set qty = 'Stocked' %}
                <span style="color:mediumseagreen"><i class="fas fa-thumbs-up fa-2x"></i></span>
                {% else %}
                {% set qty = 'Out of Stock' %}
                <span style="color:crimson"><i class="fas fa-ban fa-2x"></i></span>
                {% endif %}
            </div>
            <div class="col">
                <h5>{{result.business}}<span class="small text-muted p-1">({{result.latest | humanize}})</span><span
                        class="small text-muted p-1"><i class="fas fa-map-marker-alt p-1"></i>{{result.distance | round}} Miles</span>
                </h5>
                <p><a href="https://maps.google.com/?q={{result.business}},%20{{result.address}}" target="_blank">{{result.address}}</a> - <strong>{{qty}}</strong></p>
                <p><a href="{{ url_for('search_place', place_id=result._id, business=result.business, address=result.address) }}">View other items at this store</a></p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}